<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Rango</title>
    </head>

    <body>
        <h1>Rango says...</h1>
        <div>hey there partner!</div>

        <div>
        <h4>Most Liked Categories</h4>
            {% if categories %}
            <ul>
                {% for category in categories %}
                    <li>
                    <a href="{% url 'show_category' category.slug %}">{{ category.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
        </div>

        <div>
            <h4>Most Viewed Pages</h4>
            {% if pages %}
            <ul>
                {% for page in pages %}
                <li>
                    <a href="{% url 'goto' %}?page_id={{page.id}}"\>{{ page.title }}</a>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <strong>There are no categories present.</strong>
         {% endif %}
        </div>

        <div>
            <a href="/rango/add_category/">Add a New Category</a><br />
            <a href="/rango/about/">About Rango</a><br />
            <!-- Image -->
            <img src="{%  static  "images/rango.jpg"%}" alt="Picture of Rango" />
        </div>
    </body>

</html>